<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>how can Heaven love me - about</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="https://vsitante.neocities.org/heaven/heaven.css" rel="stylesheet" type="text/css" media="all">

	 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Actor&family=Delius&family=Fondamento:ital@0;1&family=Marcellus&family=Marcellus+SC&display=swap" rel="stylesheet">

	  	<script type="text/javascript" src="/js/jquery.js"></script>
	
	<meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
	  <meta name="robots" content="noimageai">
  <meta name="robots" content="noai">
  
    <link rel="alternate" type="application/rss+xml"
 href="/feed.xml" title="RSS">

<style>
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #242642; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #242642; /* Add a dark-grey background on hover */
  color:white;
}
</style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="an entity about the nature of love and desire and need by Viy Sitante">
  <meta name="og:description" content="an entity about the nature of love and desire and need by Viy Sitante">
  <meta name="twitter:image" content="https://vsitante.neocities.org/web%20thumbnail%20image%20for%20sharing_heaven.png">
  <meta name="og:image" content="https://vsitante.neocities.org/web%20thumbnail%20image%20for%20sharing_heaven.png">
  <meta name="twitter:site" content="@vsitante">
  <meta name="twitter:title" content="how can HEAVEN love me by Viy Sitante">
  <meta name="og:title" content="how can HEAVEN love me by Viy Sitante">
  <meta name="description" content="an entity about the nature of love and desire and need by Viy Sitante">
  
  <meta name="keywords" content="comic, comics, webcomics, puerto rican, puerto rican creator, puerto rican webcomics, puerto rican comics, comics puertorriqueños, cómics puertorriqueños, webcomics puertorriqueños, creador puertorriqueño, creador puertorriqueña, read comics online, erotic art, arte erótico, erotica, porn comics, nsfw comics, hentai, hentai comics, nsfw, 18+ comics, how can heaven love me, polyamory, threesome, transgender character, zine, zines, novella, original novella">
  
  <style>
 .fulltext p,
.less {
	display: none;
}

.fulltext:target p,
.fulltext:target .less {
	display: block;
}

.fulltext:target .more {
	display: none;
</style>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
	
	  <script src="/js/topbutton.js"></script> 
	
  </head>
  <body>
    
  	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	
       <div id="container">
            <div id="headerArea">
                <div id="header" style="height: 262px;"></div>
				<div class="topnav" id="myTopnav">
                           <a href="/index.html">Back Home?</a>
						   <a href="/heaven.html">Index</a>
                        <a href="/hevabout.html">About</a>
                        <a href="/cast.html">Characters</a>
                        <a href="/comic.html">Comics</a>
                        <a href="/prose.html">Prose</a>
                        <a href="/heart.html">Gallery</a>
						<a href="/fun.html">Fun Box</a>
						 <a href="/playlist.html">OST</a>
						<a href="/healinks.html">Links</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i></a>
				</div>
            </div>

            <div id="flex">
                
                <main>
				
<h1 id="about">an entity about the nature of love and desire and need</h1>
<p>a proper synopsis will go here one day. for now, have the work in progress one below</p>
<hr>
<p>a novella about astemar giralt, a legendary idol singer who also can wield magic and ride robots. Yet at her core, what she wants is a normal life, free of predestined struggle and escapes of personal trauma. At the intersection between old adolescence and adulthood, she meets two men, magnus power and max arizmendi, who will slowly unravel her taut psyche—and in the process, break open their own shells.</p>



</div> <!-- flex-->
			</div>
			
		   
				   
				   

                </main>
                
            </div>
			
			<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
			
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>	

                 <footer id="footer" style="margin-top: 10px;">All work, unless otherwise noted (C) Viy Sitante, 2021-present</footer>
        </div>
       


    