    {% block content %}
	    <h1 id="page-title">an entity about the nature of love and desire and need</h1>
<p>a proper synopsis will go here one day. for now, have the work in progress one below</p>
        <hr id="post-body-break">
<p>a novella about astemar giralt, a legendary idol singer who also can wield magic and ride robots. Yet at her core, what she wants is a normal life, free of predestined struggle and escapes of personal trauma. At the intersection between old adolescence and adulthood, she meets two men, magnus power and max arizmendi, who will slowly unravel her taut psyche—and in the process, break open their own shells.</p>
	{% endblock %}
